<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.remi.remidomo.reloaded"
    android:versionCode="201"
    android:versionName="2.01" >

    <uses-sdk android:minSdkVersion="15"
              android:targetSdkVersion="17" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission android:name="com.remi.remidomo.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.remi.remidomo.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:allowBackup="true" >

        <activity
            android:name=".RDActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.remi.remidomo.reloaded.prefs.PreferencesActivity" />
        
        <service
            android:name=".RDService"
            android:label="@string/service_label"
            android:exported="false" >
            <intent-filter>
				<action android:name="com.remi.remidomo.reloaded.BOOTKICK" />
				<action android:name="com.remi.remidomo.reloaded.BATLOW" />
				<action android:name="com.remi.remidomo.reloaded.POWER_CONN" />
				<action android:name="com.remi.remidomo.reloaded.POWER_DISC" />
			</intent-filter>
        </service>

    	<receiver android:name=".BootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

    	<receiver android:name=".BatteryReceiver">
			<intent-filter>
			    <action android:name="android.intent.action.ACTION_BATTERY_LOW" />
				<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
				<action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
			</intent-filter>
		</receiver>

    	<receiver android:name=".PushReceiver" android:permission="com.google.android.c2dm.permission.SEND">
          <intent-filter>
              <action android:name="com.google.android.c2dm.intent.RECEIVE" />
              <category android:name="com.remi.remidomo.reloaded" />
          </intent-filter>
          <intent-filter>
              <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
              <category android:name="com.remi.remidomo.reloaded" />
          </intent-filter>
      </receiver>
    	
    </application>

</manifest>
